

a {
	text-decoration: none !important;
	color: auto !important;
}

a:hover {
	color: lightblue;
}

p a, span a, label a {
	line-height: 1em !important
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0 !important;
}

section {
	padding-bottom: 1em;
	padding-top: 1em
}

article .article__body p, article .article__body ul {
	color: #111111;
	display:block;
	margin-bottom:0 !important
}

.text-block .menu-horizontal li.social{
	margin-right:0;
}


.menu-horizontal a {
    padding-left: 0;
    padding-right: 7px;
}

.col-12 p {
	padding-bottom:1em
}

.text-block span {
    display: block;
}

h3 {
    font-size: 1em !important;
    line-height: 1.85714286em !important;
	margin-bottom:0 !important;
	font-weight: 600 !important;
}

#download{
	position:fixed;
	z-index: 1;
	left:1em;
	bottom:1em;
	cursor:pointer !important;
	background-color:white;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
}
@media print {
	

  }
 #print >  .container{
	 max-width: none !important;
 } #print *{
	font-size: 1.2rem  !important
}