blockquote,section p {font-size:1.2em !important}
blockquote p {font-size:1.4em !importanfont-family: 'Lobster';margin-bottom:0.4em !important}

blockquote span{font-family: default;   padding-top:0em;
	font-weight: 400 !important;
font-style: normal !important;}

a {
	text-decoration: none !important;
	color:auto !important;
}
a:hover {
	color: lightblue;
}
p a, span a, label a {
line-height:1em !important
}
img{
display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:0 !important;
}

.fig {font-size:1em;text-align:center !important;
font-weight: 600;
}

figcaption{text-align:center}

#reception iframe {
margin-bottom: 0 !important;
min-height: auto
}
ol{
padding-left: 20px;
list-style-type: none !important
}

ol, li {margin-bottom:0 !important}

ol li{
font-weight:900 !important
}
ol li > ol li, ol li > ol li a {
font-weight:500 !important
}

section{
padding-bottom:1em;
padding-top:1em
}
h3{
font-weight:800 ;
margin-bottom:0.1em;
font-size:1.6em !important
}
h4{
font-weight:600;
padding-bottom:0em;
margin-bottom:0.6em;

}

h5{
font-weight:400 ;padding-bottom:0em !important;
margin-bottom:0.1em !important; font-size:1.4em !important;
}
article .article__body p, article .article__body ul {

color: #111111;
}


audio{
width: 100%;
margin-bottom: 1.3684210526316em;}


figure img{
	
	max-width: min(500px,100%);
}

#fig5 img{

max-height: 250px;
}



#bibliography ul li,#references ul li {
	font-size:0.8em !important
	font-size:0.7em !important;

font-size: 0.8em !important;
/* white-space: nowrap; */
line-height: 1.6em;
letter-spacing: -0.6px;
}


#fig24{
	max-height: 210px;
}
.type--fine-print{
	padding-right: 6em;
	
}
